<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSL/TLS Certificate Analysis</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"
        rel="stylesheet" />
    <!-- <link rel="stylesheet" href="style.css" /> -->


  
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Contact V12_files/analyze.css' %}"> 
    <!-- Above link is css link exclusively made for analyse page available in static folder -->
</head>

<body>
    <div class="min-h-screen bg-gradient-to-r from-white to-blue-500">
        <!-- Navigation Bar -->
        
        <header class="w-full mb-4" style="background-color: #000000;">
            <div class="px-3 py-3" >
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <!-- Logo Section (Left) -->
                        <a href="{% url 'home' %}" class="d-flex align-items-center my-2 my-lg-0 text-decoration-none">
                            <i class="bi bi-shield-check" style="font-size: 2rem; color: rgb(255, 255, 255);"></i> 
                            <span style="color: rgb(255, 255, 255); font-weight: bold;">CERTISCAN</span>
                        </a>
        
                        <!-- Centered Navigation Links -->
                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                            <li>
                                <a href="{% url 'home' %}" class="nav-link" style="color: rgb(255, 255, 255);">
                                    <i class="bi bi-house-fill"></i> Home
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'notification_alert' %}" class="nav-link" style="color: rgb(255, 255, 255);">
                                    <i class="bi bi-bell-fill"></i> Subscribe
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'analyzed_urls' %}" class="nav-link" style="color: rgb(255, 255, 255);">
                                    <i class="bi bi-clock-history"></i> History
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'grading_system' %}" class="nav-link" style="color: rgb(255, 255, 255);">
                                    <i class="bi bi-clock-history"></i> Grading
                                </a>
                            </li>
                        </ul>
        
                        <!-- Logout and Menu Icon Section (Right) -->
                        <div class="d-flex align-items-center my-2 my-lg-0">
                            <!-- Logout Button -->
                            <a href="{% url 'logout_view' %}" class="nav-link" style="color: rgb(255, 255, 255);">
                                <i class="bi bi-person"></i> Logout
                            </a>
                            
                            <!-- Animated Menu Icon -->
                            <div class="menu-icon" id="menu-icon" >
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        
            <!-- Full-Screen Overlay Navigation -->
            <div class="overlay" id="overlay">
                <button class="close-btn" id="close-btn">&times;</button>
                <div class="overlay-content">
                    <a href="{% url 'send_email_view' %}" class="nav-link" >Contact</a>
                    <a href="{% url 'copyright' %}" class="nav-link" >Copyright</a>
                    <a href="{% url 'faq' %}"class="nav-link" >FAQ</a>
                    <a href="{% url 'about' %}" class="nav-link" >About us</a>
                    
                    
                </div>
            </div>
        </div>

        <!-- Hero Section -->

        <div class="px-4 py-2 pt-5 my-3 text-center">
            <h1 class="header-text py-4 display-4 fw-bold text-body-emphasis">
                Uncover How Secure Your Website Really Is!
            </h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    Get your website evaluated with a comprehensive security grade. Gain
                    detailed insights into vulnerabilities, strengthen your defenses,
                    and ensure your site is fully protected. Stay ahead of threats with
                    actionable recommendations tailored for your web security needs.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <div class="form-container">
                        <form method="post" action="{% url 'analyze_certificate' %}">
                            {% csrf_token %}
                            <input type="text" id="hostname" name="hostname" required
                                placeholder="Enter URL or Hostname" />
                            <button type="submit" style="font-family: 'Montserrat-Medium', sans-serif">Analyze</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% if grade %}

        <!-- Grade and Bar Graph -->
        
        <section id="analysis-report">
            <section class="container mx-auto py-12 border-top border-bottom">
                <h2 class="text-3xl font-bold text-center mb-3 py-3">
                    Security Grade Analysis
                </h2>
                <div class="flex justify-center">
                    <div class="w-full max-w-2xl bg-white p-6 rounded-lg shadow-md mb-5">
                        
                        <!-- Security Grade Section -->
                        <div class="flex justify-center items-center h-screen">
                            <div class="grade-section text-center">
                                <h3 class="text-lg font-semibold mb-4">
                                    Security Grade:
                                </h3>
                                <div class="grade-box rounded px-4 py-2 text-white font-bold"
                                     style="background-color: 
                                         {% if grade == 'A' %}#4caf50
                                         {% elif grade == 'B' %}#ffeb3b
                                         {% elif grade == 'C' %}#ff9800
                                         {% elif grade == 'D' %}#ff5722
                                         {% elif grade == 'E' %}#f44336
                                         {% elif grade == 'F' %}#9e9e9e
                                         {% else %}#9e9e9e{% endif %};">
                                    {{ grade }}
                                </div>
                            </div>
                        </div>
                        
                        
                        <!-- Security Summary Section -->
                        <div class="bar-section flex flex-col justify-center items-center mt-8">
                            <h2 class="text-3xl font-bold text-center mb-3 py-1">
                                Your Website's Security Summary
                            </h2>
                            
                            <div class="w-full max-w-md bg-white p-4 rounded-lg shadow-md">
                                <div class="bar-wrapper w-full mb-4 flex items-center">
                                    <div class="label w-1/3">Certificate</div>
                                    <div class="bar w-2/3 bg-blue-200">
                                        <div class="bar-fill bg-blue-500" style="width: {{ bar_percentages.certificate }}%;"></div>
                                    </div>
                                    <div class="percentage ml-4">
                                        {{ bar_percentages.certificate }}%
                                    </div>
                                </div>
        
                                <div class="bar-wrapper w-full mb-4 flex items-center">
                                    <div class="label w-1/3">Protocol Support</div>
                                    <div class="bar w-2/3 bg-blue-200">
                                        <div class="bar-fill bg-blue-500" style="width: {{ bar_percentages.protocol_support }}%;"></div>
                                    </div>
                                    <div class="percentage ml-4">
                                        {{ bar_percentages.protocol_support }}%
                                    </div>
                                </div>
        
                                <div class="bar-wrapper w-full mb-4 flex items-center">
                                    <div class="label w-1/3">Key Exchange</div>
                                    <div class="bar w-2/3 bg-blue-200">
                                        <div class="bar-fill bg-blue-500" style="width: {{ bar_percentages.key_exchange }}%;"></div>
                                    </div>
                                    <div class="percentage ml-4">
                                        {{ bar_percentages.key_exchange }}%
                                    </div>
                                </div>
        
                                <div class="bar-wrapper w-full mb-4 flex items-center">
                                    <div class="label w-1/3">Cipher Strength</div>
                                    <div class="bar w-2/3 bg-blue-200">
                                        <div class="bar-fill bg-blue-500" style="width: {{ bar_percentages.cipher_strength }}%;"></div>
                                    </div>
                                    <div class="percentage ml-4">
                                        {{ bar_percentages.cipher_strength }}%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        

        <!--Certifcate Details:  -->

        <section class="container mx-auto py-12">
            <h2 class="text-3xl font-bold text-center mb-8 py-3">
                Certificate Details
            </h2>

            <div class="flex justify-center">
                <div class="w-full max-w-2xl bg-white p-6 rounded-lg shadow-md mb-5">
                    <table class="min-w-full divide-y divide-gray-300 border border-gray-300">
                        <tbody class="bg-white">
                            <tr class="bg-gray-50">
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-gray-300">
                                    Hostname
                                </th>
                                <td class="px-6 py-3 text-sm text-gray-900 border border-gray-300">
                                    {{ hostname }}
                                </td>
                            </tr>
                            <tr class="bg-gray-50">
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-gray-300">
                                    Issuer Name
                                </th>
                                <td class="px-6 py-3 text-sm text-gray-900 border border-gray-300">
                                    {{ issuer }}
                                </td>
                            </tr>
                            <tr>
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-gray-300">
                                    Subject
                                </th>
                                <td class="px-6 py-3 text-sm text-gray-900 border border-gray-300">
                                    {{ subject }}
                                </td>
                            </tr>
                            <tr class="bg-gray-50">
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-gray-300">
                                    Valid From
                                </th>
                                <td class="px-6 py-3 text-sm text-gray-900 border border-gray-300">
                                    {{ not_before }}
                                </td>
                            </tr>
                            <tr>
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-gray-300">
                                    Valid Until
                                </th>
                                <td class="px-6 py-3 text-sm text-gray-900 border border-gray-300">
                                    {{ not_after }}
                                </td>
                            </tr>
                            <tr class="bg-gray-50">
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-gray-300">
                                    Key Size
                                </th>
                                <td class="px-6 py-3 text-sm text-gray-900 border border-gray-300">
                                    {{ key_size }} bits
                                </td>
                            </tr>
                            <tr>
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-gray-300">
                                    Signature Algorithm
                                </th>
                                <td class="px-6 py-3 text-sm text-gray-900 border border-gray-300">
                                    {{ signature_algorithm }}
                                </td>
                            </tr>
                            <tr class="bg-gray-50">
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-gray-300">
                                    Serial Number
                                </th>
                                <td class="px-6 py-3 text-sm text-gray-900 border border-gray-300">
                                    {{ serial_number }}
                                </td>
                            </tr>
                            <tr>
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-gray-300">
                                    Version
                                </th>
                                <td class="px-6 py-3 text-sm text-gray-900 border border-gray-300">
                                    {{ protocol_version }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="px-3 py-2 border-bottom mb-3"></div>
        </section>

        <!-- Warning Section -->
        {% for warning in warnings %}
        <section class="container mx-auto py-12">
            <h2 class="text-3xl font-bold text-center mb-8 py-3">Warnings</h2>

            <div class="flex justify-center pb-4">
                <div class="w-full max-w-2xl bg-white p-6 rounded-lg shadow-md">
                    <div class="warning-section">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="border border-gray-500">{{ warning }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
       </section> 
        

        <!-- Download Button -->
        <div class="buttons flex justify-center mt-4 space-x-1">
            <button class="button" id="download-report-btn" style="font-family: 'Montserrat-Medium', sans-serif">
                Download Report as Image
            </button>
            <a href="{% url 'security_recommendations' %}" class="button" style="font-family: 'Montserrat-Medium', sans-serif">
                View Recommendations
            </a>
        </div>
        <div class="pt-4 px-3 py-2 mb-3"></div>

        {% endif %}

        <!-- Footer -->

        <div class="container border-top">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center pb-3 mb-3">
                    <li class="nav-item">
                        <a href="{% url 'send_email_view' %}" class="nav-link px-2 text-muted">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link px-2 text-muted">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link px-2 text-muted">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'disclaimer' %}" class="nav-link px-2 text-muted">Disclaimer</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'copyright' %}" class="nav-link px-2 text-muted">Copyright</a>
                    </li>
                </ul>

                <p class="text-center text-muted d-flex justify-content-center align-items-center">
                    <i class="bi bi-shield-check" style="font-size: 1.5rem; margin-right: 8px"></i>
                    © 2024 CertiScan
                </p>
            </footer>
        </div>

        <!-- Loads html2canvas library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

        <!-- Take ss of html and render as img -->
        <script>
            document.getElementById('download-report-btn').addEventListener('click', function () {
                html2canvas(document.getElementById('analysis-report')).then(function (canvas) {
                    var link = document.createElement('a');
                    link.href = canvas.toDataURL("image/png");
                    link.download = 'analysis_report.png';
                    link.click();
                });
            });
            // Show the analysis report when it is available
            {% if grade %}
            document.getElementById('analysis-report').style.display = 'block';
            {% endif %}
        </script>

        <!-- Menu Icon JS -->

        <script>
            document.addEventListener('DOMContentLoaded', function () {
    const menuIcon = document.getElementById('menu-icon');
    const overlay = document.getElementById('overlay');
    const closeBtn = document.getElementById('close-btn');

    menuIcon.addEventListener('click', function () {
        menuIcon.classList.toggle('open');
        overlay.style.width = (overlay.style.width === '100%') ? '0' : '100%';
    });

    closeBtn.addEventListener('click', function () {
        menuIcon.classList.remove('open');
        overlay.style.width = '0';
    });
});

        </script>
</body>
</html>
